{{ define "home" }}
{{ template "pageHeader" . }}

<div class="content">
	<div class="pure-g">
		<div class="pure-u-1 pure-u-xl-1-1">
			<div class="tables-container tables-container-listing">
				<p>&nbsp;</p>
				<p>&nbsp;</p>

				<h3>
					Brewing...
				</h3>
				
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
				<p>&nbsp;</p>
			</div>
		</div>
	</div>
</div>
{{ template "pageFooterTop" . }}
{{ template "pageFooterBottom" . }}
{{ end }}